x64/Debug/*
!x64/Debug/*.dll
!x64/Debug/*.lib
!x64/Debug/*.pcx
!x64/Debug/*.bmp
!x64/Debug/*.jpg
x64/Release/*
!x64/Release/*.dll
!x64/Release/*.lib
!x64/Release/*.pcx
!x64/Release/*.bmp
!x64/Release/*.jpg
Debug/*
!Debug/*.dll
!Debug/*.lib
!Debug/*.pcx
!Debug/*.bmp
!Debug/*.jpg
Release/*
!Release/*.dll
!Release/*.lib
!Release/*.pcx
!Release/*.bmp
!Release/*.jpg