x64/Debug/*
!x64/Debug/*.dll
!x64/Debug/*.lib
!x64/Debug/*.nib
!x64/Debug/*.dat
x64/Release/*
!x64/Release/*.dll
!x64/Release/*.lib
!x64/Release/*.nib
!x64/Release/*.dat
Debug/*
!Debug/*.dll
!Debug/*.lib
!Debug/*.nib
!Debug/*.dat
Release/*
!Release/*.dll
!Release/*.lib
!Release/*.nib
!Release/*.dat